<?xml version="1.0"?>
<!--
  ~ Copyright © Websolute spa. All rights reserved.
  ~ See LICENSE and/or COPYING.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="transporter" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
            <tab>transporter</tab>
            <group id="amqp" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Amqp</label>
                <depends>
                    <field id="transporter/general/enabled">1</field>
                </depends>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Amqp</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="transporter/general/enabled">1</field>
                    </depends>
                </field>
                <field id="enabled_for_downloaders" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Amqp for Downloaders</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="transporter/general/enabled">1</field>
                        <field id="transporter/amqp/enabled">1</field>
                    </depends>
                </field>
                <field id="enabled_for_manipulators" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Amqp for Manipulators</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="transporter/general/enabled">1</field>
                        <field id="transporter/amqp/enabled">1</field>
                    </depends>
                </field>
                <field id="enabled_for_uploaders" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Amqp for Uploaders</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="transporter/general/enabled">1</field>
                        <field id="transporter/amqp/enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
